body {
 box-sizing: border-box;
}

:root {
 --border-color: black;
 --fur-color: white;
 --fur-patch-color: #f9a51b;
 --tonque-color: #f9cacd;
 --mounthHoleLeft-color: #831f40;
 --mountHoleRight-color: #ec267a;
}


::after,
::before {
 box-sizing: border-box;
 position: absolute;
 content: "";
}

.container div {
 position: absolute;
}

.container {
 position: relative;
 top: 0;
 left: 0;
 width: 95vmax;
 height: 95vmax;
 border: 1px solid red;
}

/* HEAD */

.head__container {
 top: 10%;
 left: 10%;
 width: 35%;
 height: 35%;
 /* background-color: lightblue; */
}

/* HEAD BORDER */

.head__main-border {
 top: 10%;
 left: 15%;
 width: 49%;
 height: 71%;
 border-radius: 50%;
 background-color: var(--border-color);
 transform: rotate(-15deg);
 z-index: 2;
}

/* HEAD FUR */
.head__main-fur {
 top: 2%;
 left: 2%;
 width: 95%;
 height: 96%;
 border-radius: 50%;
 background-color: var(--fur-color);
 z-index: 2;
 overflow: hidden;
}

/* EYES */

.eye--left {
 top: 30%;
 left: 59%;
 width: 10%;
 height: 14%;
 border-radius: 50%;
 background-color: var(--border-color);
 transform: rotate(9deg);
 z-index: 1;
}

.eye--right {
 top: 32%;
 left: 82%;
 width: 8%;
 height: 12%;
 border-radius: 50%;
 background-color: var(--border-color);
 transform: rotate(9deg);
 z-index: 1;
}

.eye__patch {
 top: 0;
 left: 76%;
 width: 50%;
 height: 50%;
 background-color: var(--fur-patch-color);
 z-index: 0;
 transform: rotate(-6deg);
}

.eye__patch::after {
 top: 0;
 left: -57%;
 width: 62%;
 height: 100%;
 background-color: var(--fur-color);
 z-index: -1;
 border-radius: 50%;
 transform: rotate(-6deg);
}

.eyebrow {
 border-radius: 50%;
 background-color: var(--border-color);
}

.eyebrow--top {
 top: 22%;
 left: 44%;
 width: 14%;
 height: 10%;
 transform: rotate(21deg);
}

.eyebrow--bottom {
 top: 25%;
 left: 52%;
 width: 10%;
 height: 14%;
 transform: rotate(21deg);
}

.eyebrow--right {
 top: 24%;
 left: 88%;
 width: 10%;
 height: 14%;
 transform: rotate(126deg);
}

.eyebrow::after {
 width: 100%;
 height: 104%;
 border-radius: 50%;
 background-color: var(--fur-color);
 top: 0%;
 left: 16%;
}

.eyebrow--top::after {
 height: 120%;
}

.eyebrow--right::after {
 background-color: var(--fur-patch-color);
}

/* MUFFLE BORDER */

.muffle-border {
 top: 35%;
 left: 39%;
 width: 32%;
 height: 46%;
 border-radius: 67% 68% 64% 0;
 background-color: var(--border-color);
 transform: rotate(40deg);
 z-index: 2;
}

/* MUFFLE FUR */

.muffle-fur {
 top: 3%;
 left: -4%;
 width: 100%;
 height: 100%;
 border-radius: 52% 54% 55% 0;
 background-color: var(--fur-color);

}

/* MOUNTH */

.mounth-border {
 top: 43%;
 left: 28%;
 width: 44%;
 height: 57%;
 border: 1% solid;
 border-radius: 38% 66% 72% 5%;
 background-color: var(--border-color);
 transform: rotate(50deg);
}

.mounth-border::before {
 top: -2%;
 left: -66%;
 width: 90%;
 height: 115%;
 border-radius: 50%;
 transform: rotate(10deg);
 background-color: var(--fur-color)
}

.mounth-border::after {
 top: -22%;
 left: 7%;
 width: 82%;
 height: 37%;
 border-radius: 50%;
 transform: rotate(62deg);
 background-color: var(--fur-color);
}

.mounth-corner {
 top: 73%;
 left: 5%;
 width: 5%;
 height: 12%;
 border-radius: 50% 16% 28% 50%;
 background-color: var(--border-color);
 z-index: 2;
}

.tonque {
 top: 59%;
 left: 52%;
 width: 34%;
 height: 26%;
 background: var(--tonque-color);
 border-radius: 50% 27% 50% 50%;
 transform: rotate(19deg);

}

.tonque::after {
 top: -85%;
 left: -30%;
 width: 107%;
 height: 118%;
 border-radius: 55% 27% 38% 62%;
 transform: rotate(-24deg);
 z-index: 0;
 background: var(--tonque-color);

}



/* SNOUT */

.snout {
 top: 44%;
 left: 55%;
 width: 11%;
 height: 9%;
 background-color: var(--border-color);
 border-radius: 0 0 33%;
 transform: rotate(20deg);
 z-index: 3;
}

.snout::before,
.snout::after {
 width: 100%;
 height: 100%;
 border-radius: 50%;
 background-color: var(--border-color);
}

.snout::before {
 top: -3%;
 left: -41%;
 border-radius: 74% 18% 42% 95%;
 transform: rotate(-43deg);
}

.snout::after {
 top: -50%;
 left: 0%;
 border-radius: 98% 49% 80% 29%;
}

.snout__highlight {
 top: -8%;
 left: 45%;
 width: 29%;
 height: 18%;
 border-radius: 50% 50% 0% 0%;
 background-color: #fff;
 transform: rotate(39deg);
 z-index: 10;

}

/* EARS BORDER */

.ear__RightBase-border {
 top: -3%;
 left: 38%;
 width: 12%;
 height: 29%;
 border-radius: 50% 0 0 50%;
 background-color: var(--border-color);
 transform: rotate(33deg);
}

.ear__RightTaped-border {
 top: -4%;
 left: 51%;
 width: 15%;
 height: 30%;
 border-radius: 50%;
 background-color: var(--border-color);
 transform: rotate(-38deg);
}

.ear__LeftBase-border {
 top: 3%;
 left: 14%;
 width: 15%;
 height: 35%;
 border-radius: 0% 73% 4% 100%;
 background-color: var(--border-color);
 transform: rotate(33deg);
}

.ear__LeftTaped-border {
 top: -2%;
 left: 27%;
 width: 15%;
 height: 29%;
 border-radius: 50%;
 background-color: var(--border-color);
 transform: rotate(-38deg);
 z-index: 3;
}

/* EARS FUR */

.ear__RightBase-fur {
 top: 2%;
 left: 6%;
 width: 86%;
 height: 94%;
 border-radius: 50%;
 background-color: var(--fur-patch-color);
}

.ear__RightTaped-fur {
 top: 2%;
 left: 5%;
 width: 92%;
 height: 94%;
 border-radius: 50%;
 background-color: var(--fur-patch-color);
}

.ear__RightTaped-fur::after {
 top: -3%;
 left: -19%;
 width: 92%;
 height: 29%;
 border-radius: 50%;
 background-color: var(--fur-patch-color);
}

.ear__LeftBase-fur {
 top: 8%;
 left: 10%;
 width: 90%;
 height: 90%;
 border-radius: 0% 73% 4% 100%;
 background-color: var(--fur-color);
}

.ear__LeftTaped-fur {
 top: 4%;
 left: 6%;
 width: 86%;
 height: 91%;
 border-radius: 50%;
 background-color: var(--fur-color);
}

.ear__LeftTaped-fur::after {
 top: 4%;
 left: -15%;
 width: 83%;
 height: 16%;
 border-radius: 50%;
 transform: rotate(-25deg);
 background-color: var(--fur-color);
}

.ear__LeftTaped-fur::before {
 top: 42%;
 left: -171%;
 width: 126%;
 height: 25%;
 border-radius: 70% 12% 0 39%;
 background-color: var(--fur-color);
 z-index: 2;
 transform: rotate(-25deg);
}